@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

@keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  background-color: #ecf2f8;
}
body .root {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
body .root .card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 285px 1fr;
  height: 280px;
  overflow: hidden;
  position: relative;
  width: 731px;
}
body .root .card .card-image {
  grid-area: "image";
  height: 100%;
  width: 285px;
}
body .root .card .card-image img {
  height: 100%;
  width: 100%;
}
body .root .card .card-text {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  grid-area: "text";
  padding: 31px 40px;
}
body .root .card .card-text .title {
  letter-spacing: 0.06em;
  margin-bottom: 1em;
  color: #6d7f97;
  font-family: "Manrope", sans-serif;
  font-size: 19px;
  font-weight: 700;
}
body .root .card .card-text .text {
  color: #9eafc2;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  font-weight: 500;
}
body .root .card .card-text .avatar {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-top: 30px;
  position: relative;
  width: 100%;
}
body .root .card .card-text .avatar .image img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
body .root .card .card-text .avatar .info {
  margin-left: 10px;
  color: #6d7f97;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  font-weight: 500;
}
body .root .card .card-text .avatar .info .name {
  color: #48556a;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.12em;
}
body .root .card .card-text .avatar .info .date {
  letter-spacing: 0.01em;
}
body .root .card .card-text .avatar .share {
  align-items: center;
  animation: animation 0.5s;
  background-color: #ecf2f8;
  border-radius: 50%;
  display: flex;
  color: #6d7f97;
  cursor: pointer;
  height: 30px;
  justify-content: center;
  position: absolute;
  right: 0px;
  width: 30px;
}
body .root .card .card-text .avatar .share.active {
  background-color: #48556a;
  color: #ffffff;
}
body .root .card .card-text .card-social {
  align-items: center;
  animation: animation 0.5s;
  background-color: #48556a;
  border-radius: 10px;
  display: none;
  height: 55px;
  justify-content: space-between;
  padding: 0 25px;
  position: absolute;
  right: -10%;
  top: 50%;
  width: 248px;
}
body .root .card .card-text .card-social .square {
  background-color: #48556a;
  bottom: -23%;
  height: 25px;
  position: absolute;
  outline: none;
  right: 47%;
  transform: rotate(45deg);
  width: 25px;
}
body .root .card .card-text .card-social .square:active {
  background-color: transparent;
  outline: none;
}
body .root .card .card-text .card-social .text {
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #6d7f97;
  font-family: "Manrope", sans-serif;
  font-size: 19px;
  font-weight: 500;
}
body .root .card .card-text .card-social .fab {
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
}
body .root .card .card-text .card-social.active {
  display: flex;
}
