@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

$veryDarkGrayishBue: hsl(217, 19%, 35%);
$DesaturatedDarkBlue: hsl(214, 17%, 51%);
$GrayishBlue: hsl(212, 23%, 69%);
$LightGrayishBlue: hsl(210, 46%, 95%);

@mixin font($color: $DesaturatedDarkBlue, $size: 13px, $weight: 500) {
  color: $color;
  font: {
    family: 'Manrope', sans-serif;
    size: $size;
    weight: $weight;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}