@import "base";

@keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background-color: $LightGrayishBlue;

  .root {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    .card {
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 4px 4px 30px rgba($color: #000000, $alpha: 0.1);
      display: grid;
      grid-template-columns: 285px 1fr;
      height: 280px;
      overflow: hidden;
      position: relative;
      width: 731px;

      .card-image {
        grid-area: "image";
        height: 100%;
        width: 285px;

        img {
          height: 100%;
          width: 100%;
        }
      }

      .card-text {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        grid-area: "text";
        padding: 31px 40px;

        .title {
          letter-spacing: 0.06em;
          margin-bottom: 1em;
          
          @include font($size: 19px, $weight: 700);
        }

        .text {
          @include font($color: $GrayishBlue);
        }

        .avatar {
          align-items: center;
          display: flex;
          flex-direction: row;
          height: 100%;
          margin-top: 30px;
          position: relative;
          width: 100%;

          .image {
            img {
              border-radius: 50%;
              height: 40px;
              width: 40px;
            }
          }

          .info {
            margin-left: 10px;
            @include font();

            .name {
              @include font(
                $color: $veryDarkGrayishBue,
                $size: 12px,
                $weight: 700
              );
              letter-spacing: 0.12em;
            }

            .date {
              letter-spacing: 0.01em;
            }
          }

          .share {
            align-items: center;
            animation: animation 0.5s;
            background-color: $LightGrayishBlue;
            border-radius: 50%;
            display: flex;
            color: $DesaturatedDarkBlue;
            cursor: pointer;
            height: 30px;
            justify-content: center;
            position: absolute;
            right: 0px;
            width: 30px;
          }

          .share.active {
            background-color: $veryDarkGrayishBue;
            color: #ffffff;
          }
        }

        .card-social {
          align-items: center;
          animation: animation 0.5s;
          background-color: $veryDarkGrayishBue;
          border-radius: 10px;
          display: none;
          height: 55px;
          justify-content: space-between;
          padding: 0 25px;
          position: absolute;
          right: -10%;
          top: 50%;
          width: 248px;

          .square {
            background-color: $veryDarkGrayishBue;
            bottom: -23%;
            height: 25px;
            position: absolute;
            outline: none;
            right: 47%;
            transform: rotate(45deg);
            width: 25px;

            &:active {
              background-color: transparent;
              outline: none;
            }
          }

          .text {
            letter-spacing: 0.4em;
            text-transform: uppercase;
            @include font($size: 19px);
          }

          .fab {
            color: #ffffff;
            cursor: pointer;
            font-size: 20px;
          }
        }

        .card-social.active {
          display: flex;
        }
      }
    }
  }
}
