@import "base";

@keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background-color: $LightGrayishBlue;

  .root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .card {
      width: 731px;
      height: 280px;
      background-color: #ffffff;
      border-radius: 10px;
      // overflow: hidden;
      box-shadow: 4px 4px 50px rgba($color: #000000, $alpha: 0.1);
      display: grid;
      grid-template-columns: 285px 1fr;
      position: relative;

      .card-image {
        width: 285px;
        height: 100%;
        grid-area: "image";

        img {
          width: 100%;
          height: 100%;
        }
      }

      .card-text {
        display: flex;
        flex-direction: column;
        grid-area: "text";
        padding: 31px 40px;
        background-color: #ffffff;

        .title {
          @include font($size: 19px, $weight: 700);
          letter-spacing: 0.06em;
          margin-bottom: 1em;
        }

        .text {
          @include font($color: $GrayishBlue);
        }

        .avatar {
          margin-top: 30px;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          position: relative;

          .image {
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }
          }

          .info {
            margin-left: 10px;
            @include font();

            .name {
              @include font(
                $color: $veryDarkGrayishBue,
                $size: 12px,
                $weight: 700
              );
              letter-spacing: 0.12em;
            }

            .date {
              letter-spacing: 0.01em;
            }
          }

          .share {
            width: 30px;
            height: 30px;
            background-color: $LightGrayishBlue;
            border-radius: 50%;
            position: absolute;
            right: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $DesaturatedDarkBlue;
            cursor: pointer;
            animation: animation 0.5s;
          }

          .share.active {
              background-color: $veryDarkGrayishBue;
              color: #ffffff;
            }
        }

        .card-social {
          height: 55px;
          width: 248px;
          background-color: $veryDarkGrayishBue;
          position: absolute;
          top: 50%;
          right: -10%;
          display: none;
          animation: animation 0.5s;

          .square {
            height: 25px;
            width: 25px;
            background-color: $veryDarkGrayishBue;
            position: absolute;
            bottom: -23%;
            right: 47%;
            transform: rotate(45deg);
            outline: none;

            &:active {
              background-color: transparent;
              outline: none;
            }
          }
        }

        .card-social.active {
          display: block;
        }
      }
    }
  }
}
